@media screen and (max-width: 500px) {
  .todayWeather,
  .nextDayWeather,
  .afterNextDayIcon {
    margin: 20px 0px;
  }

  .logo {
    position: relative;
    left: 15%;
    bottom: 10px;
  }
  .logo-title {
    padding: 0px;
  }

  .nav-link {
    color: brown;
    position: relative;
    left:62%;
    width: 40%;
    text-align: center;
  }

  #subscribeArea {
    font-size: 12px;
  }
  .copyRight {
    text-align: center;
  }
  .social-links {
    text-align: center;
  }
}

#subscribeBtn {
  width: 30%;
  padding: 5px 0;
}

@media screen and (min-width: 501px) and (max-width: 991px) {
  .todayWeather {
    height: 90%;
  }

  .social-links a {
    padding: 0px;
    margin: 0px;
  }
  .social-links {
    text-align: center;
  }

  .logo {
    position: relative;
    left: 20px;
    bottom: 5px;
  }
  .logo-title {
    padding: 0px;
  }
}

@media screen and (min-width: 923px) and (max-width: 1200px) {
  .todayWeather {
    height: 90%;
  }

  .social-links a {
    padding: 0px;
    margin: 1px;

  }

  .logo-title {
    padding: 0px
  }
}
